body{
    font-family: 'Oswald', sans-serif;
   
}

.showcase{
    width: 100%;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
  
}
.aligncenter{
    width: 640px;
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 40px;
}
.btn{
    width: 300px;
    margin: 0 10px;
    display: block;
    float: left;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: #36B3BE;
   padding: 10px 0px;
}

/* Lend */
.header{
    width: 100%;
    height: 50px;
    background: #333333;
    position: relative;
}
.nav{
    max-width: 1040px;
    margin: auto;
}
.nav ul{
    margin: 0;
    padding: 0px;
    list-style: none;
    position: relative;
    top:10px;
    width: 100%;
}
.nav ul li{
    display: inline-block;
    margin-right: 30px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 12px;
}
.nav ul li.search{
    float: right;
    margin-right: 0px;
    
}
.nav ul li input{
    margin-right: 10px
}
.main{
    max-width: 1040px;
    margin: auto;
    padding: 30px 0px;
}
.aside{
    width: 20%;
    border-right: 1px solid #333;
}
.aside ul{
    list-style: none;
    padding: 0px;
    margin: auto;
    font-weight: 300
}
.aside ul li input[type="checkbox"]{
    margin-right: 5px;
}
.middle{
    width: 80%;
}